
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: */
  font-style: normal;
}

/* shared styles */
.color {
color: #4E47FF;
}

/* header styles */
.header-image {
    background-image: url(../Assets/Hero-bg.png);
    height: 40%;
     /* background-repeat: repeat; */
     /* background-position:; */
 }

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px 50px;

}

.nav-title {
    font-size: 34px;
     font-weight: 1000;

}

.btn-nav {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
   color: white;
    border: none;
    margin: 10px;
    padding: 12px 30px;
    border-radius: 10px;
}